# Data Pre-processing Techniques

## Dropping Variables

### Dropping Numerical Variables with Zero variance

In [1]:
# Imports pandas library
import pandas as pd

In [2]:
# Reads the dataset
df = pd.read_csv('telco_churn_not_processed.csv') 

# Sets the SeniorCitizen variable as string
df['SeniorCitizen'] = df['SeniorCitizen'].astype('object')

In [3]:
# Prints the first five records
df.head()

,customerID,gender,lsx,ms,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,4,yes,0,Yes,No,1,No,No phone service,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,4,yes,0,No,No,34,Yes,No,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,4,yes,0,No,No,2,Yes,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,4,yes,0,No,No,45,No,No phone service,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,4,yes,0,No,No,2,Yes,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
# Checks if there is any variables with zero variance
df.std()

lsx                  0.000000
tenure              24.559481
MonthlyCharges      30.090047
TotalCharges      2266.771362
dtype: float64

In [5]:
# Drops variables with 0 variance
df = df.drop(df.std()[df.std() == 0].index, axis = 1)

In [6]:
# Checks if there is any variables with zero variance
df.std()

tenure              24.559481
MonthlyCharges      30.090047
TotalCharges      2266.771362
dtype: float64

In [7]:
# Prints the first five records
df.head()

,customerID,gender,ms,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,yes,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,yes,0,No,No,34,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,yes,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,yes,0,No,No,45,No,No phone service,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,yes,0,No,No,2,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### Dropping Categorical Variables with Zero variance

In [8]:
# Gives the categorical variables minus the target variable in our dataset
categorical_var = list(set(df.dtypes[df.dtypes == object].index) - set(['Churn']))

In [9]:
# Creates an empty list for categorical variables with zero variation
zero_cardinality = [] 

for i in categorical_var: # for each categorical variables
    if len(df[i].value_counts().index) == 1: # check how many levels it has and if it is one
        zero_cardinality.append(i) # the variable has zero variance as the cardinality is one 
        # append it to the list of categorical variables with zero variation
        
df = df.drop(zero_cardinality, axis = 1) # drops variables with 0 variance

In [10]:
# Returns the first five records
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### Dropping Categorical Variables with Many Levels

In [11]:
# Extracts the categorical variables
categorical_var = list(set(df.dtypes[df.dtypes == object].index) - set(['Churn'])) 

# Creates a list of categorical variables with high cardinality
high_cardinality = [] 

for i in categorical_var: # for each categorical variables
    if len(df[i].value_counts().index) >200: # check how many levels it has and if it is more
        high_cardinality.append(i) # than 200, variable has many levels
        # so append it to the list of categorical variables with high cardinality
        
print(high_cardinality) # Prints the list of variables with high cardinality

['customerID']

In [12]:
# Drops variables with high cardinality
df = df.drop(high_cardinality, axis = 1)

In [13]:
# Prints the first five records
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

#######################################################################################

## Scaling

In [14]:
# Extracts the numerical values
numerical_val = list(set(df.columns) - set(df.dtypes[df.dtypes == object].index))

In [15]:
# Prints the numerical values
print(numerical_val)

['MonthlyCharges', 'TotalCharges', 'tenure']

In [16]:
# imports the preprocessing library
from sklearn import preprocessing 

# converts pandas df to numpy array
array = df[numerical_val].values 

# creates a min max scaler
data_scaler = preprocessing.MinMaxScaler(feature_range=(0,1)) 

# Scales the data and overwrites it into the existing dataframe
df[numerical_val] = pd.DataFrame(data_scaler.fit_transform(array), 
                                 columns = numerical_val)

In [17]:
# Returns the first five records
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,0.013889,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,0.115423,0.001275,No
1,Male,0,No,No,0.472222,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,0.385075,0.215867,No
2,Male,0,No,No,0.027778,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,0.354229,0.010310,Yes
3,Male,0,No,No,0.625000,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),0.239303,0.210241,No
4,Female,0,No,No,0.027778,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,0.521891,0.015330,Yes

## Normalization and Standardization

In [18]:
# Imports the StandardScaler module from sklearn
from sklearn.preprocessing import StandardScaler 


# Reads the dataset
df_t = pd.read_csv('telco_churn_not_processed.csv') 


# Sets the seniorcitizen  variable to string
df_t['SeniorCitizen'] = df_t['SeniorCitizen'].astype('object') 

# Extracts the numerical values
numerical_val = list(set(df_t.columns) - set(df_t.dtypes[df_t.dtypes == object].index))


# Creates a column names for standardized values
new_col = [i+'_standardized' for i in numerical_val] 


# Converts the df[numerical_val] to numpy array
array = df_t[numerical_val].values 


# Creates standarization instance
data_scaler = StandardScaler().fit(array) 


# Standardize the numerical variables
data_rescaled = pd.DataFrame(data_scaler.transform(array), columns = new_col)


# Extracts the first five records
df_t[numerical_val].head()

   MonthlyCharges  TotalCharges  tenure  lsx
0           29.85         29.85       1    4
1           56.95       1889.50      34    4
2           53.85        108.15       2    4
3           42.30       1840.75      45    4
4           70.70        151.65       2    4

In [19]:
# Extracts the first five records
data_rescaled.head()

,MonthlyCharges_standardized,TotalCharges_standardized,tenure_standardized,lsx_standardized
0,-1.160323,-0.994194,-1.277445,0.0
1,-0.259629,-0.173740,0.066327,0.0
2,-0.362660,-0.959649,-1.236724,0.0
3,-0.746535,-0.195248,0.514251,0.0
4,0.197365,-0.940457,-1.236724,0.0

#######################################################################################

## Data Imputation

In [20]:
# Returns the column names
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [21]:
# Checks the number of missing values by column
[sum(df[i].isnull()) for i in df.columns]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 0]

In [22]:
# extracts the numerical values
numerical_var = list(set(df.columns) - set(df.dtypes[df.dtypes == object].index))

In [23]:
# extracts the numerical values
categorical_var = list(set(df.dtypes[df.dtypes == object].index) - set(['Churn']))

In [24]:
# Fills in the missing values in numerical columns with median
# and overwrites the result into the esxisting dataset
df[numerical_var] = df[numerical_var].fillna(df[numerical_var].median(), 
                                             inplace = False)

In [25]:
# Fills in the missing values in numerical columns with mode
# and overwrites the result into the esxisting dataset
df[categorical_var] = df[categorical_var].fillna(df[categorical_var].mode(), 
                                                 inplace = False)

In [26]:
# Checks the number of missing values by column
[sum(df[i].isnull()) for i in df.columns]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## Binarization or Discretization

In [27]:
# Extracts the numerical values
numerical_val = list(set(df.columns) - set(df.dtypes[df.dtypes == object].index))

In [28]:
col_names = [] # Creates a list that defines the column names of new binarized variables
for i in numerical_val: # for each numerical variables
    col_names.append(i + '_binarized') # adds _binarized characters

In [29]:
# Converts the pandas df to numpy array
array = df[numerical_val].values

In [30]:
# Imports the Binarizer lib
from sklearn.preprocessing import Binarizer

# Creates a binarizer instance
binarizer = Binarizer(threshold=0.5).fit(array) 

# Binarizes the numerical variables and saves tye result as a df
Data_binarized = pd.DataFrame(binarizer.transform(array), columns = col_names)

In [31]:
# Combines the two dataframes 
df = pd.concat([df, Data_binarized], axis = 1)

In [32]:
# returns the first five records
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,MonthlyCharges_binarized,TotalCharges_binarized,tenure_binarized
0,Female,0,Yes,No,0.013889,No,No phone service,DSL,No,Yes,...,No,Month-to-month,Yes,Electronic check,0.115423,0.001275,No,0.0,0.0,0.0
1,Male,0,No,No,0.472222,Yes,No,DSL,Yes,No,...,No,One year,No,Mailed check,0.385075,0.215867,No,0.0,0.0,0.0
2,Male,0,No,No,0.027778,Yes,No,DSL,Yes,Yes,...,No,Month-to-month,Yes,Mailed check,0.354229,0.010310,Yes,0.0,0.0,0.0
3,Male,0,No,No,0.625000,No,No phone service,DSL,Yes,No,...,No,One year,No,Bank transfer (automatic),0.239303,0.210241,No,0.0,0.0,1.0
4,Female,0,No,No,0.027778,Yes,No,Fiber optic,No,No,...,No,Month-to-month,Yes,Electronic check,0.521891,0.015330,Yes,1.0,0.0,0.0

##############################################################################

## Encoding Categorical Variables

In [33]:
# Prints the first five records
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,MonthlyCharges_binarized,TotalCharges_binarized,tenure_binarized
0,Female,0,Yes,No,0.013889,No,No phone service,DSL,No,Yes,...,No,Month-to-month,Yes,Electronic check,0.115423,0.001275,No,0.0,0.0,0.0
1,Male,0,No,No,0.472222,Yes,No,DSL,Yes,No,...,No,One year,No,Mailed check,0.385075,0.215867,No,0.0,0.0,0.0
2,Male,0,No,No,0.027778,Yes,No,DSL,Yes,Yes,...,No,Month-to-month,Yes,Mailed check,0.354229,0.010310,Yes,0.0,0.0,0.0
3,Male,0,No,No,0.625000,No,No phone service,DSL,Yes,No,...,No,One year,No,Bank transfer (automatic),0.239303,0.210241,No,0.0,0.0,1.0
4,Female,0,No,No,0.027778,Yes,No,Fiber optic,No,No,...,No,Month-to-month,Yes,Electronic check,0.521891,0.015330,Yes,1.0,0.0,0.0

In [34]:
# Example to convert categorical variables into dummy variables
categorical_var = list(set(df.dtypes[df.dtypes == object].index) - set(['Churn']))

In [35]:
# Create dummy variables using onehot encoding
dummy_cat_df = pd.get_dummies(df[categorical_var], drop_first=True)

In [36]:
# Drops categorical variables from the df
df = df.drop(categorical_var, axis = 1) 

# Adds the newly created dummy variables instead
df = pd.concat([df, dummy_cat_df], axis = 1)

In [37]:
# prints the first five records
df.head()

,tenure,MonthlyCharges,TotalCharges,Churn,MonthlyCharges_binarized,TotalCharges_binarized,tenure_binarized,Partner_Yes,StreamingTV_No internet service,StreamingTV_Yes,...,Contract_One year,Contract_Two year,InternetService_Fiber optic,InternetService_No,OnlineBackup_No internet service,OnlineBackup_Yes,TechSupport_No internet service,TechSupport_Yes,OnlineSecurity_No internet service,OnlineSecurity_Yes
0,0.013889,0.115423,0.001275,No,0.0,0.0,0.0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0.472222,0.385075,0.215867,No,0.0,0.0,0.0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,0.027778,0.354229,0.010310,Yes,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,0.625000,0.239303,0.210241,No,0.0,0.0,1.0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
4,0.027778,0.521891,0.015330,Yes,1.0,0.0,0.0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [38]:
## transforming the label (Another method)

In [39]:
df.loc[df['Churn'] == "Yes", 'Churn'] = 1 # assigns 1 to churned customers
df.loc[df['Churn'] == "No", 'Churn'] = 0 # assigns 0 to not-churned customers

In [40]:
df.Churn[:5] # prints the first five records of the Churn column

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

#######################################################################################

# Combining Everything for Telco Churn

## Droping Variables

In [41]:
# Reads the dataset
df = pd.read_csv('telco_churn_not_processed.csv')

# Sets the seniorcitizen  variable to string
df['SeniorCitizen'] = df['SeniorCitizen'].astype('object')

# Drop numerical variables with zero variance
df = df.drop(df.std()[df.std() == 0].index, axis = 1) 

# Gives the categorical variables minus the target variable in our dataset
categorical_var = list(set(df.dtypes[df.dtypes == object].index) - set(['Churn']))

# Creates an empty list for categorical variables with zero variation
zero_cardinality = [] 

for i in categorical_var: # for each categorical variables
    if len(df[i].value_counts().index) == 1: # check how many levels it has and if it is one
        zero_cardinality.append(i) # the variable has zero variance as the cardinality is one 
        # append it to the list of categorical variables with zero variation

# drops variables with 0 variance
df = df.drop(zero_cardinality, axis = 1) 

# Extracts the categorical variables
categorical_var = list(set(df.dtypes[df.dtypes == object].index) - set(['Churn'])) 

# Creates a list of categorical variables with high cardinality
high_cardinality = [] 

for i in categorical_var: # for each categorical variables
    if len(df[i].value_counts().index) >200: # check how many levels it has and if it is more
        high_cardinality.append(i) # than 200, variable has many levels
        # so append it to the list of categorical variables with high cardinality

# Drops variables with high cardinality
df = df.drop(high_cardinality, axis = 1)

## Standardizing Variables

In [42]:
# Imports the StandardScaler module from sklearn
from sklearn.preprocessing import StandardScaler 

# Extracts the numerical values
numerical_var = list(df.select_dtypes(exclude = 'object').columns)


# Creates a column names for standardized values
new_col = [i+'_standardized' for i in numerical_var] 


# Converts the df[numerical_val] to numpy array
array = df[numerical_var].values 


# Creates standarization instance
data_scaler = StandardScaler().fit(array) 


# Standardize the numerical variables
data_rescaled = pd.DataFrame(data_scaler.transform(array), columns = new_col)

df = df.drop(numerical_var, axis = 1)

df = pd.concat([df, data_rescaled], axis=1)

## Missing Value Imputation

In [43]:
numerical_var = list(df.select_dtypes(exclude = 'object').columns)

categorical_var = list(df.select_dtypes(include = 'object').columns)

# Fills in the missing values in numerical columns with median
# and overwrites the result into the esxisting dataset
df[numerical_var] = df[numerical_var].fillna(df[numerical_var].median(), 
                                             inplace = False)

# Fills in the missing values in numerical columns with mode
# and overwrites the result into the esxisting dataset
df[categorical_var] = df[categorical_var].fillna(df[categorical_var].mode(), 
                                                 inplace = False)

## Encoding Categorical Variables

In [44]:
# Example to convert categorical variables into dummy variables
categorical_var = list(df.dtypes[df.dtypes == object].index)

# Create dummy variables using onehot encoding
dummy_cat_df = pd.get_dummies(df[categorical_var], drop_first=True) 

# Drops categorical variables from the df
df = df.drop(categorical_var, axis = 1) 

# Adds the newly created dummy variables instead
df = pd.concat([df, dummy_cat_df], axis = 1)

## Balancing Dataset

In [45]:
df['Churn_Yes'].value_counts() # computes the levels in the target variable 
# (counting the number of yes and no)

0    5174
1    1869
Name: Churn_Yes, dtype: int64

In [46]:
from imblearn.over_sampling import SMOTE

os = SMOTE(random_state=0) # using the smote technique 
# (somehow oversampling) to balance the data

input_var = list(set(df.columns) - set(['Churn_Yes'])) # sets the input var

X, Y = os.fit_sample(df[df.columns.difference(['Churn_Yes'])], df['Churn_Yes']) # oversamples the data
X = pd.DataFrame(X, columns = input_var) # makes the X array as a dataframe
Y = pd.DataFrame(Y, columns = ['Churn_Yes']) # makes the Y array as a dataframe

df = pd.concat([X, Y], axis=1) # Combine X and Y

Using TensorFlow backend.

In [30]:
df['Churn_Yes'].value_counts() # computes the levels in the target variable 
# (counting the number of yes and no)

1    5174
0    5174
Name: Churn_Yes, dtype: int64

In [47]:
# Saving the dataset
df.to_csv('telco_churn_processed.csv', index = False)